logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
project/project
project/target
tmp
.history
dist
/*.iml
/out
/.classpath
.target
.cache
bin
.DS_Store
activator-sbt-*-shim.sbt