@* This template does not have parameters *@
<link rel="stylesheet" href="/assets/stylesheets/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/stylesheets/bootstrap/carousel.css">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<div style='margin-left: 10px;'>
<a href="@routes.Tool.index()">Index page</a>

<h2>Add a new tool below</h2>

<form action="@routes.Tool.create()" method="post">
    <label for="title">Name</label> <br>
    <input type="text" name="title" />
    <br><br>

    <label for="category">Category</label> <br>
                <select>
                    <option value="Screwdriver">Screwdriver</option>
                    <option value="Wrench">Wrench</option>
                    <option value="Plier">Plier</option>
                    <option value="Hammer">Hammer</option>
                </select>
    <br>
    <br>
    <label for="body">Description</label> <br>
    <textarea name="body" id="body" cols="30" rows="10"></textarea>
    <br>
    <button>CREATE!</button>
    <br>


</form>
</div>
