

@(gadgets: List[Gadget], tooltypes: List[ToolType])


@main{
@userauth.navbar()


<br>
<br>
<br>
<br>
<br>
<body background='@routes.Assets.versioned("images/gears.png")'>



<div style='margin-left: 10px;'>



    </div>

<div style='margin-left: 10px;'>

    <h3>Add a new tool below</h3>

    <form action="@routes.Tool.create()" method="post">
        <label for="title">Name</label> <br>
        <input type="text" name="title" />
        <br><br>

        <label for="tooltype">Category</label> <br>
        <select name = "tooltype_id" id = "tooltype">
            @for( t <- tooltypes) {
            <option value = "@t.id" > @t.name</option>
            }
        </select>

        <br>
        <br>
        <label for="body">Description</label> <br>
        <textarea name="body" id="body" cols="30" rows="10"></textarea>
        <br>
        <button>ADD</button>
        <br>

        @if(gadgets.isEmpty()) {
        <h2>No gadgets available</h2>
        } else {
        <h2>Gadget List</h2>
        <ul>
            @for(g <- gadgets) {
            <li>@g.title</li>
            }}
        </ul>



        </form>

</div>


}
<link rel="stylesheet" href="/assets/stylesheets/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/stylesheets/bootstrap/carousel.css">
